* {
    margin: 0;
    box-sizing: border-box;
}

.sec-01{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 1080px;
}